   form {
           display: flex;
           flex-direction: column;
           align-items: center;
           margin: auto;
              width: 300px;
              padding: 20px;
              background-color: #f0f0f0;
              border-radius: 10px;
              box-shadow: 0 0 10px rgba(13, 248, 166, 0.1); 

        }
        input[type="email"],
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        label {
            margin-bottom: 5px;
            font-weight: bold;
        }
        h2 {
            text-align: center;
            color: #333;
        }