<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form action="" method="post">
            <label for="Username"> Username:</label>
            <input type="text" name="userName"><br><br>
            <label for="Password">Password:</label>
            <input type="password" name="password" >
            <br><br>

            <button type="submit">Register</button>
        </form>
        <br><br>
        <a href="/">Back to home</a>

    </div>

   <script>
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get("msg");
    if (message) {
      alert(decodeURIComponent(message));
    }
    </script>

    
</body>
</html>