<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
   <form method="POST" action="">
    <h2 style="text-align: center; color: #333;">Register</h2>
    <p style="text-align: center; color: #333;">Please fill in the details below:</p>
    <label for="username">Username: </label><br>
    <input type="text" id="username" name="userName"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Register">
</form>
<a href="index.html">Are you already a user?</a>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get("msg");
    if (message) {
        alert(decodeURIComponent(message));
    }
</script>
</body>
</html>